.carousel {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
  }

  .img {
    width: 120%; 
    justify-content: center; 
    margin-left: 65vh;
    margin-top: 40vh;
  }
  
  .logo {
    width: 45px;
    height:45px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .carousel {
    display: flex;
    align-items: center;
  }
