.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
}

.step {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin-right: 16px;
  color: white;
}

.img {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.MuiMobileStepper-root {
  background-color: transparent;
  padding: 0;
}

.carousel {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
}


.logo {
  width: 55px;
  height:55px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

