.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  height: 80vh;
}

.medicaments {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.preview {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.ordoFile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.bodyRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bodyPresc {
  margin: 3rem 0;
}