.content {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0 32px 0;
}

.button {
  color: #4153EF;
  cursor: pointer;
}

.title {
  margin: 32px 0;
}