.App {
  text-align: center;
}

.App-header {
  background-color: rgba(194, 190, 190, 0.219);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-right: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.logo {
  height: 10vmin;
  pointer-events: none;
}

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #282c34;
  margin-left: -0.5px;
}

.login-section {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin-bottom: 10px;
}

.right-section {
  flex: 1;
}
